.click {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.click .soft {
    color: #2E2F42;
}


.pages .chapter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-decoration: none;
  color: #2E2F42;
}

.chapter:hover {
    color: #4D5AE5;
}
.chapter:active {
    text-decoration: underline;
}



.contacts .send {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-decoration: none;
    color: #434455;
}

.send:hover {
    color: #404BBF;
}
.send:active {
    text-decoration: underline;
}
.title {
    font-family: "Roboto", sans-serif;
    background-color: #2E2F42;

}
.page-title {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    text-align: center;
}


ul {
    list-style-type: none;
}