.main {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.click {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.click .soft {
    color: #2E2F42;
}


.pages .chapter {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 2%;
    text-decoration: none;
  color: #2E2F42;
}

.chapter:hover {
    color: #4D5AE5;
}
.chapter:active {
    text-decoration: underline;
}



.contacts .send {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 2%;
    text-decoration: none;
    color: #434455;
}

.send:hover {
    color: #404BBF;
}
.send:active {
    text-decoration: underline;
}
.title {
    background-color: #2E2F42;
    text-align: center;
}
.page-title {
    color: #FFFFFF;
    }

.push {
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
} 
#team {
    background-color: #F4F4FD;
}
.people {
        text-align: center;
        font-weight: 700;
        font-style: bold;
        font-size: 36px;
        background-color: #F4F4FD;
        line-height: 40px;
}

.people-list {
    background-color: #FFFFFF;
}

.people-title {
    color: #2E2F42;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    text-align: center;
}

.people-job {
    color: #434455
    font-style: Regular;
    font-size: 16px;
    text-align: center;
}

.portfolio-title {
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
}

.portfolio-list {
    color: #2E2F42;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
}

.portfolio-text {
    color: #434455 font-style: Regular;
    font-size: 16px;
}

.end-title {
    background-color: #2E2F42;
}

.end-title-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.web {
    color: #F4F4FD;
}

.end-title-text {
    color:#F4F4FD
}

ul {
    list-style-type: none;
}