body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    line-height: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-part {
    color: #2E2F42;
}


.nav-link {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #4D5AE5;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.title {
    background-color: #2E2F42;
    text-align: center;
    
}
.page-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0,02em;
    }

.push {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0,04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
} 

.push:hover,
.push:focus {
    background-color: #404BBF;
}

.team {
    color: #2E2F42;
    background-color: #F4F4FD;
}

.people {
    color: #2E2F42;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    background-color: #F4F4FD;
    line-height: 1.11em;
    letter-spacing: 0.02em;
}

.people-list {
    background-color: #FFFFFF;
}

.people-title {
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.people-job {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.portfolio {
    color: #2E2F42;
}

.portfolio-title {
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-list {
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455; 
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
}

.end-title {
    background-color: #2E2F42;
}

.end-title-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.web {
    color: #F4F4FD;
}

.end-title-text {
    font-size: 16px;
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0, 02em;

}

